<!DOCTYPE html>
<html>
    <head>
        <title>Contact</title> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="static/assets/style.css">
        <style type="text/css">
          .card-about {
            text-align: justify;
          }

          .card-text {
            font-family: Helvetica;
            font-stretch: extra-expanded;
            font-weight: 700;
          }
          img{
   height: 150px;
   width: 150px;
   vertical-align: middle;
   border-radius: 25%;

   }
        </style>
    </head>
    <body>
     <div class="div-head">
         <h1>MEET THE CREATOR</h1>
         <div class="jumbotron jumb-width">
      <hr class="my-4">
      <p class="lead">If you have any queries or suggestions, please feel free to contact one of us and we would be more than happy to have a chat with you. Also, we are looking to improve our project to make it more portable and reachable, so any lead on this will be really helpful.</p>
      </div>
              <div class="card card-style" style = "background-color: rgba(84, 104, 135, 0.3)">
                <div class="card-body" >
                  <img src="static/assets/ritik.jpeg">
                  <p class="card-text">Ritik Suri</p>
                  <!-- <p class="card-text">44313302718 (CSE-8B)</p>
                  <p style = "text-align: center;">Pursuing Bachelors in Computer Science and Engineering, U can contact me on . </p> -->
                  <div class="template-demo"> <button type="button" class="btn btn-social-icon btn-outline-linkedin" onclick=location.href='https://www.linkedin.com/in/ritiksuri'><i class="fa fa-linkedin linkedin-bg"></i></button> <button type="button" class="btn btn-social-icon btn-outline-instagram"><i class="fa fa-instagram insta-bg" onclick=location.href='https://instagram.com/suri.r17?igshid=YmMyMTA2M2Y='></i></button> <button type="button" class="btn btn-social-icon btn-outline-google" onclick="sendEmail1();"><i class="fa fa-google"></i></button><button type="button" class="btn btn-social-icon btn-outline-github" onclick=location.href='https://github.com/ritik1704'><i class="fa fa-github github-bg"></i></button></div>
                </div>
          
            
    </body>
</html>
<script>
function sendEmail1() 
{
    window.location = "mailto:ritik1704@gmail.com";
}

function sendEmail2() 
{
    window.location = "mailto:ritik1704@gmail.com";
}
</script>